.button {
  display: flex;
  border-radius: 6px;
  border: none;
  padding: 8px 30px;
  transition: background 0.25s;
  font-family: inherit;
  color: inherit;
  cursor: pointer;

  &_accent {
    background: $accent-color-400;

    &:hover {
      background: $accent-color-600;
    }
  }
}
