@import '@/assets/fonts.css';
@import '@/assets/normalize.css';

html {
  min-height: 100%;

  * {
    box-sizing: border-box;
  }
}

body {
  width: 100%;
  height: 100%;
  padding: 16px;
  background: $black-color-400;

  * {
    font-family: 'Source Sans 3', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    color: $light-color-0;
  }
}

h2,
p {
  margin: 0;
}
